:root {
  --main-font-color: #926239;
  --secondary-font-color: #fff;

  --bg-dark-color: #926239;
  --first-bg-light-color: #f4f4f4;
  --secondary-bg-light-color: #f9f9f9;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 1.6;
  text-align: center;
  color: var(--main-font-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Heder */

.header {
  padding: 30vh 20px 10vh 20px;
  min-height: 100vh;
  background-image: url(../beachshowcase.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  text-transform: capitalize;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.2;
}

.text-title {
  font-size: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 18px;
  text-decoration: none;
  color: var(--main-font-color);
  border: var(--bg-dark-color) solid 1px;
  border-radius: 10px;
}

.button:hover,
.button:focus {
  background-color: var(--bg-dark-color);
  color: var(--secondary-font-color);
}

/* main */
.bgdark {
  padding: 20px;
  color: var(--secondary-font-color);
  background-color: var(--bg-dark-color);
}

.bglight {
  padding: 20px;
  background-color: var(--first-bg-light-color);
}

.column {
  text-align: left;
  width: 33%;
  display: inline-block;
}

.column.bglight {
  background-color: var(--secondary-bg-light-color);
}
